body {
  background-image: url(./css/img/newsBackground3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Playfair Display SC', serif;
}

#instructions {
  margin-top: 30px;
  margin-bottom: 30px
}

nav {
  margin: 10px;
  border-style: groove;
}

Button {
  margin: 10px;
}

Label {
  margin: 10px;
  color:black;
}

.login-labels {
    margin: 10px;
    color:white;
}

#newsSelctor {
  font-family: 'Playfair Display SC', serif;
}

Input {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

input {
  margin: 10px;
}

select {
  margin: 10px;
  font-family: 'Playfair Display SC', serif;
}

h1 {
  margin: 10px;
  color: white;
}

h2 {
  margin: 10px;
  color: white;
}

p {
  margin: 10px;
  color: white;
}

ul {
  background-color: greenyellow;
  opacity: .5;
  border-style: outset;
}

li {
  list-style-image: url('./css/img/newsIcon.png');
  background-color: greenyellow;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  background-color: black;
  color: white;
  border-style: outset;
}

.modal-footer {
  background-color: black;
  color: white;
  border-style: outset;
}

.modal-body {
  /* font-family: 'Montserrat', sans-serif; */
  background-color: rgb(208, 208, 208);
  border-style: none outset;
}

.App {
  text-align: left;
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
